<nav class="navbar navbar-dark bg-dark justify-content-between wbdv-navbar">
  <h3 class="navbar-brand">Register</h3>
  <form class="form-inline">
    <a routerLink="/login">
      <button class="btn btn-outline-light my-2 my-sm-0"
              type="button">
        Login
      </button>
    </a>
    <a routerLink="/home">
      <button class="btn btn-outline-light my-2 my-sm-0"
              type="button">
        Home
      </button>
    </a>
  </form>
</nav>

<div class="container-fluid wbdv-register">
  <div class="alert alert-danger alert-dismissible fade show"
       role="alert"
       *ngIf="alertPassword == true">
    Passwords do not match. Please try again.
    <button type="button"
            class="close"
            data-dismiss="alert"
            (click)="removeAlert()"
            aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="alert alert-danger alert-dismissible fade show"
       role="alert"
       *ngIf="alertUsername == true">
    Username is already taken. Please try another username.
    <button type="button"
            class="close"
            data-dismiss="alert"
            (click)="removeUsernameAlert()"
            aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="form-group">
    <label>Username</label>
  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>
  </div>

  <div class="form-group">
    <label>Role</label>
  <select [(ngModel)]="userRole"
          class="form-control">
    <option value="" disabled selected>What do you want to be?</option>
    <option value="Customer">Customer</option>
    <option value="Chef">Chef</option>
    <option value="Critic">Critic</option>
  </select>
  </div>

  <div class="form-group">
    <label>Password</label>
  <input [(ngModel)]="password"
         placeholder="password"
         type="password"
         class="form-control"/>
  </div>

  <div class="form-group">
    <label>Verify Password</label>
  <input [(ngModel)]="password2"
         placeholder="verify password"
         type="password"
         class="form-control"/>
  </div>

  <button (click)="register(username, password, password2)"
          class="btn btn-primary btn-block">
    Register
  </button>
</div>
