.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.wbdv-navbar .navbar-brand {
  cursor: pointer;
}


.btn.btn-outline-light {
  margin-right: 5px;
}

.btn.btn-dark {
  margin-right: 15px;
}

.row {
  width: 100%;
}

.col-3.wbdv-login-register {
  padding-right: 0px;
}

.col-11.wbdv-search-input {
  padding-right: 0px;
}

