<navbar></navbar>
<div class="wbdv-topmost-container" id="banner">
  <div class="row">
    <marquee><h3 class="text-white"> Recipe Search Engine - Create, Like, Rate and Share Recipes! </h3></marquee>
  </div>
</div>
<div class="wbdv-top-container">
  <div class="row">
    <div class="col-6" *ngIf="likedRecipes !== undefined">
      <h5 class="h5">Your Favourites</h5>
      <ul class="list-group">
        <li
          *ngFor="let likedRecipe of likedRecipes"
          (click)="navigateToRecipe(likedRecipe)"
          class="list-group-item wbdv-liked-recipe"
        >
          <b>{{ likedRecipe.recipe.name }}</b>
        </li>
      </ul>
    </div>
    <div class="col-6" *ngIf="topRatedRecipes !== undefined">
      <h5 class="h5">Recipes With Least Ingredients</h5>
      <ul class="list-group">
        <li
          *ngFor="let ratedRecipe of topRatedRecipes"
          (click)="navigateToRecipe(ratedRecipe)"
          class="list-group-item wbdv-liked-recipe"
        >
          <b>{{ ratedRecipe.name }}</b>
        </li>
      </ul>
    </div>
  </div>
</div>

<h2 align="center">Recently Added Recipes</h2>

<div class="container wbdv-bottom-container">
  <div class="card-columns">
    <div
      class="card"
      *ngFor="let dish of dishes"
      (click)="navigate(dish.id, dish.recipeName)"
    >
      <img
        class="card-img-top"
        src="{{ getImageUrl(dish.smallImageUrls[0]) }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ text_truncate(dish.recipeName) }}</h5>
        <p class="card-text">{{ dish.sourceDisplayName }}</p>
      </div>
    </div>
  </div>
</div>
