.wbdv-username {
  cursor: pointer;
  margin-left: 5px;
}

.list-group.wbdv-profile {
  margin-top: 20px;
}

.btn.btn-outline-light {
  margin-right: 5px;
}

.btn.btn-dark {
  margin-right: 15px;
}

.btn.btn-success.wbdv-follow {
  margin-left: 15px;
}

.btn.btn-warning.wbdv-unfollow {
  margin-left: 15px;
}

.container-fluid.wbdv-profile {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
}

.wbdv-nav {
  margin-top:20px;
  background-color: white;
  cursor: pointer;
}

.wbdv-nav .active {
  background-color: #343A40;
}

.wbdv-selection {
  margin-top: 30px;
  margin-bottom: 30px;
}

.center {
  text-align: center;
  width: 45px;
  height: 45px;
  margin-left: 10px;
}

.wbdv-user-info-component {
  text-align: center;
  margin-top:20px;
  width: 90%;
  font-size: 25px;
  padding-top: 80px;
}

.list-group-item.wbdv-liked-recipe {
  cursor: pointer;
}

.list-group-item.wbdv-rated-recipe {
  cursor: pointer;
}

.list-group-item.wbdv-created-recipe {
  cursor: pointer;
}

.list-group-item.wbdv-follower {
  cursor: pointer;
}

.list-group-item.wbdv-following {
  cursor: pointer;
}

.wbdv-rated {
  border: none;
  float: right;
}

.wbdv-rated .highlight ~ label {
  color: #e16120;
}

.wbdv-rated > input {
  display: none;
}

.wbdv-rated > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.wbdv-rated > label {
  color: #ddd;
  float: right;
}

.wbdv-review {
  white-space: normal;
  width: 100%;
  word-wrap: break-word;
}

.row {
  width: 100%;
}

.col-11.wbdv-search-input {
  padding-right: 0px;
}
