<div class="container border rounded col-sm-4">
  <h1>Register</h1>
  <div class="form-group">
    <label htmlFor="username" class="col-sm-12 col-form-label">
      Username
    </label>
    <div class="col-sm-12">
      <input
        class="form-control"
        id="username"
        placeholder="Alice"
        onChange="{this.usernameChanged}"
      />
    </div>
  </div>
  <div class="form-group">
    <label htmlFor="password" class="col-sm-12 col-form-label">
      Password
    </label>
    <div class="col-sm-12">
      <input
        type="password"
        class="form-control wbdv-password-fld"
        id="password"
        placeholder="123qwe#$%"
        onChange="{this.passwordChanged}"
      />
    </div>
  </div>
  <div class="form-group">
    <label htmlFor="cnfPassword" class="col-sm-12 col-form-label">
      Confirm Password
    </label>
    <div class="col-sm-12">
      <input
        type="password"
        class="form-control wbdv-password-fld"
        id="cnfPassword"
        placeholder="123qwe#$%"
        onChange="{this.cnfpasswordChanged}"
      />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <button
        onClick="{this.registerClicked}"
        class="btn btn-outline-primary btn-block"
      >
        Sign up
      </button>
      <div class="row">
        <div class="col-6">
          <a [routerLink]="['/login']">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
